body {
    background-color: #faf8ef; 
}

.container {
    text-align: center;
}

h1 {
    color: #776e65; 
}

.btn-play {
    background-color: #ece0ca; 
    color: white;
}

.btn-table {
    background-color: #f4b17a; 
    color: white;
}

.btn-instructions {
    background-color: #8f7a66; 
    color: white;
}